body{
    margin: 0;
    font-family: 'Proxima Nova Condensed', sans-serif;
}

header {
    width: 100%;
    height: 540px;
    background-color: lightblue;
    background-image: url("/images/Header.jpg");
    background: #00010b url(/images/Header.jpg) no-repeat;
    background-size:cover;
    background-position: center;

}


#title_wrap{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 200px;
    position: absolute;
    top: 120px;

    align-items: center;
    justify-content: center;


}

#title{
    margin-top: 35px;

    font-size: 72px;
    font-weight: 900;
    color: #f15555;
    text-align: center;
    font-family: 'Proxima Nova Condensed', sans-serif;
}

#subtitle{
    margin-top: 5px;
    width: 735px;

    background-color: #0b0b0b8e;

    font-size: 48px;
    font-weight: 300;
    color: #d2d6c3;

    /*text-shadow: #f15555a9 0 2px 5px;*/
    text-align: center;
}



#section_1{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 132px;
    background-color: #f25454;
    position: relative;
}

.text_2{
    width: 1000px;

    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: rgba(255,255,255,0.9);
}



#section_2{
    display: flex;
    flex-direction: column;

    align-items: center;

    padding-top: 30px;

    width: 100%;
    height: 588px;
    background-color: #f7f7f7;
    border-bottom: 2px solid #f2f2f2;
}

.title{
    font-size: 36px;
    color: #666;
    font-weight: 800;

}

.round_images_wrapper{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.round_images{
    margin: 0 150px;
    border-radius: 50%;
    border: 3px solid #cfcfcf;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    
}

.round_images:hover{
    cursor: pointer;
    animation: flip_coin 0.4s ;
}


.text_wrapper{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 20px;
    font-weight: 300;
    margin: 0 100px;
    width: 355px;
    text-align: center;
    color: #5c5c5c;
}






#section_3{
    width: 100%;
    height: 590px;
    background-color: #ffffff;

}

#section_4{
    width: 100%;
    height: 588px;
    background-color: #f7f7f7;

    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

#section_5{
    width: 100%;
    height: 579px;
    background-color: #ffffff;
}

#section_6{
    width: 100%;
    height: 188px;
    background-color: #f25454;
}

footer{
    width: 100%;
    height: 540px;
    background-color: #2a2040;
}




@-webkit-keyframes flip_coin {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 180deg);
              transform: rotate3d(1, 1, 0, 180deg);
    }
  }
  @keyframes flip_coin {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
      -webkit-transform: rotate3d(1, 1, 0, 180deg);
              transform: rotate3d(1, 1, 0, 180deg);
    }

    100% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
                transform: rotate3d(1, 1, 0, 0deg);
      }
  }
  